<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Anime Search Result</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <style>
    #header{
      text-align: center;
      background-color: darkslategrey;
      color: lightcyan;
      font-family: Courier;
    }
    html{
      background: black;
      color: lightcyan;
      font-family: Courier;
    }
    img {
      height: 500px;
      width: 500px;
       
    }
    #summary {
      color: white;
      font-family: Courier;
    }
  </style>
  <body>
    <div class=container-fluid id="header">
      <h1>Search Result</h1>
    </div>
    <div class=container-fluid>
      <h1><%=@anime_name_result%></h1>
    </div>
    <div id=summary class=col-sm-6>
      <h3>Summary: </h3></h3><p><%=@anime_desc_result%></p>
      <h3>Episode Count: <%= @anime_episode_count_result %></h3>
      <h3>Episode Length: <%= @anime_episode_length_result %> </h3>
      <h3>Date Released/First Aired: <%= @anime_date_release_result %></h3>
      <h3>Current Status: <%= @anime_status_result%></h3>
    </div>
    <div class=col-sm-6>
      <img src=<%= @anime_image_url %>>
    </div>
  </body>
</html>
